# Shopping Mall Customer Segmentation Data preprocessing using Imputer , Standarization and Normalization

In [16]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

### Load the dataset

In [17]:
data = pd.read_csv('Shopping Mall Customer Segmentation Data .csv')

### this Display the first few rows and display basic information about the dataset thes Display summary statistics

In [18]:
print(data.head())
print(data.info())
print(data.describe())

                            Customer ID  Age  Gender  Annual Income  \
0  d410ea53-6661-42a9-ad3a-f554b05fd2a7   30    Male         151479
1  1770b26f-493f-46b6-837f-4237fb5a314e   58  Female         185088
2  e81aa8eb-1767-4b77-87ce-1620dc732c5e   62  Female          70912
3  9795712a-ad19-47bf-8886-4f997d6046e3   23    Male          55460
4  64139426-2226-4cd6-bf09-91bce4b4db5e   24    Male         153752

   Spending Score
0              89
1              95
2              76
3              57
4              76
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15079 entries, 0 to 15078
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     15079 non-null  object
 1   Age             15079 non-null  int64
 2   Gender          15079 non-null  object
 3   Annual Income   15079 non-null  int64
 4   Spending Score  15079 non-null  int64
dtypes: int64(3), object(2)
memory usage: 589.2+ KB
None
                Age  Annual Income  Spending Score
count  15079.000000   15079.000000    15079.000000
mean      54.191591  109742.880562       50.591617
std       21.119207   52249.425866       28.726977
min       18.000000   20022.000000        1.000000
25%       36.000000   64141.000000       26.000000
50%       54.000000  109190.000000       51.000000
75%       72.000000  155008.000000       75.000000
max       90.000000  199974.000000      100.000000

### Separate numeric and non-numeric columns and handle missing values using SimpleImputer

In [19]:
numeric_columns = data.select_dtypes(include=['number']).columns
non_numeric_columns = data.select_dtypes(exclude=['number']).columns
# Handle missing values in numeric columns using SimpleImputer
numeric_imputer = SimpleImputer(strategy='mean')
data_numeric_imputed = pd.DataFrame(numeric_imputer.fit_transform(data[numeric_columns]), columns=numeric_columns)
# Handle missing values in non-numeric columns using SimpleImputer
non_numeric_imputer = SimpleImputer(strategy='most_frequent')
data_non_numeric_imputed = pd.DataFrame(non_numeric_imputer.fit_transform(data[non_numeric_columns]), columns=non_numeric_columns)
# Combine numeric and non-numeric columns back
data_imputed = pd.concat([data_numeric_imputed, data_non_numeric_imputed], axis=1)

### Standardize the numeric columns

In [20]:
scaler = StandardScaler()
data_standardized = pd.DataFrame(scaler.fit_transform(data_imputed[numeric_columns]), columns=numeric_columns)

### Normalize the numeric columns

In [21]:
normalizer = MinMaxScaler()
data_normalized = pd.DataFrame(normalizer.fit_transform(data_standardized), columns=numeric_columns)

### Combine standardized and normalized numeric columns with non-numeric columns

In [22]:
data_preprocessed = pd.concat([data_normalized, data_non_numeric_imputed], axis=1)

### Display the preprocessed data

In [23]:
print("Preprocessed Data:")
print(data_preprocessed.head())

Preprocessed Data:
        Age  Annual Income  Spending Score  \
0  0.166667       0.730511        0.888889
1  0.555556       0.917278        0.949495
2  0.611111       0.282798        0.757576
3  0.069444       0.196930        0.565657
4  0.083333       0.743143        0.757576

                            Customer ID  Gender
0  d410ea53-6661-42a9-ad3a-f554b05fd2a7    Male
1  1770b26f-493f-46b6-837f-4237fb5a314e  Female
2  e81aa8eb-1767-4b77-87ce-1620dc732c5e  Female
3  9795712a-ad19-47bf-8886-4f997d6046e3    Male
4  64139426-2226-4cd6-bf09-91bce4b4db5e    Male